@import url('https://fonts.cdnfonts.com/css/arcade-classic');

* {
	margin: 0;
	padding: 0;
	font-family: 'ArcadeClassic';
}

#background.china {
	background-image: url('/images/arenas/china.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.devils_ship {
	background-image: url('/images/arenas/devils_ship.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.echo_swamp {
	background-image: url('/images/arenas/echo_swamp.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.mothership {
	background-image: url('/images/arenas/mothership.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.paradise_falls {
	background-image: url('/images/arenas/paradise_falls.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* Player moves modal */

.select-move-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: aliceblue;
	width: 500px;
	max-width: 80%;
	opacity: 0;
	transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

.select-move-modal.active {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

/* .modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 9;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	pointer-events: none;
}

.modal-overlay.active {
	pointer-events: all;
	opacity: 1;
} */

/* character images */

.character-image-container {
	display: flex;
	justify-content: space-between;
	margin-left: 5rem;
	margin-right: 5rem;
}

/* gameplay information numbers */

.gameplay-information {
	background-color: aliceblue;
}



/* Character selection grid styling */

.character--grid {
	align-self: center;
	justify-self: center;
	justify-content: center;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 60vw;
	height: auto;
	margin: auto;
	gap: 1vw;
}

.character--tile { 
	width: 10vw;
	height: 10vw;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tile--button {
	height: 100%;
	width: 100%;
	position: absolute;
	background: transparent;
}

.tile--info {
	z-index: 1;
	width: 100%;
	position: absolute;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tile--info h2 {
	text-align: center;
}

.tile--icon {
	height: auto;
	max-width: 4vw;
}

.character--tile.homer_simpson:hover::before {
	background-image: url("../images/character_icons/homer.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.character--tile.dug:hover::before {
	background-image: url("../images/character_icons/dug.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.character--tile.ghost_rider:hover::before {
	background-image: url("../images/character_icons/ghost_rider.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.character--tile.garfield:hover::before {
	background-image: url("../images/character_icons/garfield.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
.character--tile.iron_man:hover::before {
	background-image: url("../images/character_icons/iron_man.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.character--tile.cpt_jack_sparrow:hover::before {
	background-image: url("../images/character_icons/cpt_jack_sparrow.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.character--tile.jasmine:hover::before {
	background-image: url("../images/character_icons/jasmine.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.character--tile.mickey_mouse:hover::before {
	background-image: url("../images/character_icons/mickey_mouse.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.character--tile.mumble:hover::before {
	background-image: url("../images/character_icons/mumble.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.character--tile.ragey:hover::before {
	background-image: url("../images/character_icons/ragey.jpeg");
	content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}