* {
	margin: 0;
	padding: 0;
}

#background.china {
	background-image: url('/images/arenas/china.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.devils_ship {
	background-image: url('/images/arenas/devils_ship.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.echo_swamp {
	background-image: url('/images/arenas/echo_swamp.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.mothership {
	background-image: url('/images/arenas/mothership.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.paradise_falls {
	background-image: url('/images/arenas/paradise_falls.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* Player moves modal */

.select-move-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: aliceblue;
	width: 500px;
	max-width: 80%;
	opacity: 0;
	transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

.select-move-modal.active {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

/* .modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 9;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	pointer-events: none;
}

.modal-overlay.active {
	pointer-events: all;
	opacity: 1;
} */

/* character images */

.character-image-container {
	display: flex;
	justify-content: space-between;
	margin-left: 5rem;
	margin-right: 5rem;
}

/* gameplay information numbers */

.gameplay-information {
	background-color: aliceblue;
}


/* Progress Bar */

.container--progress-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.progress-bar {
	position: relative;
	width: 300px;
	height: 4vh;
	border: 0.5vh solid black;
}

.progress-bar--fill {
	height: 100%;
	background: red;
	transition: width 0.5s; 
}

.progress-bar--value {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.progress-bar--value h3 {
	margin-left: 1vw;
}
