* {
	margin: 0;
	padding: 0;
}

#background.china {
	background-image: url('/images/arenas/china.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.devils_ship {
	background-image: url('/images/arenas/devils_ship.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.echo_swamp {
	background-image: url('/images/arenas/echo_swamp.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.mothership {
	background-image: url('/images/arenas/mothership.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#background.paradise_falls {
	background-image: url('/images/arenas/paradise_falls.gif');
	background-size: contain;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
